package {{package}};

import org.springframework.http.ResponseEntity;
import org.springframework.web.bind.annotation.*;
{{#useBeanValidation}}
import org.springframework.validation.annotation.Validated;
import javax.validation.Valid;
import javax.validation.constraints.*;
{{/useBeanValidation}}

{{#useBeanValidation}}
@Validated
{{/useBeanValidation}}
{{#operations}}
public interface {{classname}} {
{{#operation}}
	/**
	* {{summary}}
	* {{notes}}
	{{#allParams}}
	* @param {{paramName}}{{#description}} {{description}}{{/description}}{{#required}} (required){{/required}}{{^required}} (optional{{^isContainer}}{{#defaultValue}}, default to {{.}}{{/defaultValue}}){{/isContainer}}{{/required}}
	{{/allParams}}
	{{#returnType}}
	* @return {{returnType}}
	{{/returnType}}
	{{#isDeprecated}}
	* @deprecated
	{{/isDeprecated}}
	{{#externalDocs}}
	* {{description}}
	* @see <a href="{{url}}">{{summary}} Documentation</a>
	{{/externalDocs}}
	*
	{{#vendorExtensions.x-restcontroller}}
	* This interface must be implemented on {{vendorExtensions.x-restcontroller}} based classes.
	* Path: {{path}}
	{{/vendorExtensions.x-restcontroller}}
	*/
	{{#isDeprecated}}
	@Deprecated
	{{/isDeprecated}}
	{{^vendorExtensions.x-restcontroller}}@RequestMapping(path = "{{path}}", method = RequestMethod.{{httpMethod}}{{#hasConsumes}},
		consumes = { {{#consumes}}"{{{mediaType}}}"{{^-last}}, {{/-last}}{{/consumes}} }{{/hasConsumes}}{{#hasProduces}}, 
		produces = { {{#produces}}"{{{mediaType}}}"{{^-last}}, {{/-last}}{{/produces}} }{{/hasProduces}}){{/vendorExtensions.x-restcontroller}}
	public {{>returnType}} {{operationId}}({{#vendorExtensions.x-restcontroller}}{{#allParams}}{{>baseParams}}{{^-last}}, {{/-last}}{{/allParams}}{{/vendorExtensions.x-restcontroller}}{{^vendorExtensions.x-restcontroller}}{{#allParams}}{{>pathParams}}{{>queryParams}}{{>formParams}}{{>bodyParams}}{{>internalParams}}{{^-last}},
			{{/-last}}{{/allParams}}{{/vendorExtensions.x-restcontroller}}){{#vendorExtensions.x-throws}} throws {{vendorExtensions.x-throws}}{{/vendorExtensions.x-throws}};
	{{^-last}}

	{{/-last}}
{{/operation}}
}
{{/operations}}
