{{#isQueryParam}}@RequestParam(name = {{#isMapContainer}}""{{/isMapContainer}}{{^isMapContainer}}"{{baseName}}"{{/isMapContainer}}, required = {{#required}}true{{/required}}{{^required}}false{{/required}}{{#defaultValue}}, defaultValue={{{defaultValue}}}{{/defaultValue}}) {{#isFile}}org.springframework.web.multipart.MultipartFile{{/isFile}}{{^isFile}}{{>optionalDataType}}{{/isFile}} {{paramName}}{{/isQueryParam}}