{{#returnType}}{{#vendorExtensions.x-responsebody}}@ResponseBody {{{returnType}}}{{/vendorExtensions.x-responsebody}}{{^vendorExtensions.x-responsebody}}ResponseEntity<{{{returnType}}}>{{/vendorExtensions.x-responsebody}}{{/returnType}}{{^returnType}}{{#vendorExtensions.x-responsebody}}@ResponseBody void{{/vendorExtensions.x-responsebody}}{{^vendorExtensions.x-responsebody}}ResponseEntity<Void>{{/vendorExtensions.x-responsebody}}{{/returnType}}