{{#returnType}}{{#vendorExtensions.x-responsebody}}{{^vendorExtensions.x-restcontroller}}@ResponseBody {{/vendorExtensions.x-restcontroller}}{{{returnType}}}{{/vendorExtensions.x-responsebody}}{{^vendorExtensions.x-responsebody}}ResponseEntity<{{{returnType}}}>{{/vendorExtensions.x-responsebody}}{{/returnType}}{{^returnType}}{{#vendorExtensions.x-responsebody}}{{^vendorExtensions.x-restcontroller}}@ResponseBody {{/vendorExtensions.x-restcontroller}}void{{/vendorExtensions.x-responsebody}}{{^vendorExtensions.x-responsebody}}ResponseEntity<Void>{{/vendorExtensions.x-responsebody}}{{/returnType}}